<%# トップページ %>
<div class="h-60">
	<div class="h-60 w-full bg-blue-200">
		<div class="bg-contain" style="background-image: url('../assets/images/top_image.jpeg');">
		</div>
	</div>
</div>
<%= render 'shared/search_form' %>