<%# お気に入り楽曲一覧 %>
<div class="bg-white py-6 sm:py-8 lg:py-12">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div>
      <h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6"><%= t'.title' %></h2>
    </div>
  <div class="md:grid grid-cols-2">
    <% @like_musics.each do |music| %>
      <div class="rounded-md border bg-blue-200 border-5 border-gray-600 hover:text-slate-500 p-3 m-0.5">
        <div class="flex flex justify-between">
          <div>
              <%= link_to music.title, youtube_search_index_path(music.title), class:"text-lg" %>
              <p class="text-sm">ジャンル</p>
          </div>
          <div class="flex items-center">
            <% if current_user.liked_by?(music: music.id) %>
              <%= render 'shared/unlike_bottun', music: music %>
            <% else %>
              <%= render 'shared/like_bottun', music: music.id  %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>