<h1 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-6">ユーザープロフィール</h1>
  <div class="flex justify-center">
    <div class="sm:col-span-2">
      <p class="inline-block text-gray-800 text-sm sm:text-base mb-2">ユーザー名</p>
      <p class="w-full bg-gray-50"><%= current_user.name %></p>
      <p class="inline-block text-gray-800 text-sm sm:text-base mb-2">メールアドレス</p>
      <p class="w-full bg-gray-50"><%= current_user.email %></p>
    </div>
    </div>
    <%= link_to '編集', edit_user_path(@user),class:"bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 focus-visible:ring ring-indigo-300 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>