<div class="container">
  <div class="text-center mt-5">
  <h1>ユーザープロフィール</h1>
    <div>
      <p>名前</p>
      <%= current_user.name %>
      <p>メールアドレス</p>
      <%= current_user.email %>
    </div>
  </div>
  <%= link_to '編集', edit_user_path(@user), class: 'btn btn-success float-right' %>
</div>