<div class="mx-auto">
  <% if flash[:success] %>
    <div class="bg-blue-100 border border-blue-500 text-blue-700 px-4 py-3 rounded my-2" role="alert">
      <%= flash[:success] %>
    </div>
  <% elsif flash[:warning] %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded my-2" role="alert">
      <%= flash[:warning] %>
    </div>
  <% end %>
</div>