<div class="bg-white pt-4 sm:pt-10 lg:pt-12">
  <footer class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="flex flex-col items-center border-t pt-6">
      <nav class="flex flex-wrap justify-center md:justify-start gap-x-4 gap-y-2 md:gap-6 mb-4">
        <%= link_to 'プライバシーポリシー', 'https://kiyac.app/privacypolicy/iZbJGxiYM30mpZ51G3Ft', class:"text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100" %>
        <%= link_to '利用規約', '#', class:"text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100" %>
        <%= link_to 'お問い合せ', 'https://forms.gle/TvCgyyPmd9LufCSu8', class:"text-gray-500 hover:text-indigo-500 active:text-indigo-600 transition duration-100" %>
      </nav>
    </div>

    <div class="text-gray-400 text-sm text-center py-3">© 2023 - Animatone. All rights reserved.</div>
  </footer>
</div>