<%= search_form_for @q, url: search_result_index_path do |f| %>
  <div class="form-group">
    <%= f.label :music_categories_category_id_eq, 'カテゴリ' %>
    <%= f.collection_select :music_categories_category_id_eq, @categories.all, :id, :name, include_blank: "選択して下さい" %>

    <%= f.submit '検索' %>
  </div>
<% end %>