<h1>SearchResult#index</h1>
<p>Find me in app/views/search_result/index.html.erb</p>
<% @musics.each do |music| %>
  <div>
    <%= link_to music.title, youtube_search_index_path(music.title) %>
  </div>
<% end %>