<% @youtube_data.each do |item| %>
  <% snippet = item.snippet %>
  <h5><%= snippet.title %></h5>
  <p><%= snippet.published_at %></p>
  <%# <p><%= item.statistics.view_count %></p> %>

  <div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= item.id.video_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
<% end %>
